body{
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
}
.payment{
    height: 33% !important;
    border: 1px solid black;
    width: 80%!important;
    margin:auto;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    background: linear-gradient(to bottom, silver, white);
}

.pagado {
    position: absolute;
    z-index: 20;
    -webkit-transform: rotate(-30deg);
    font-size: 100px;
    color: rgba(255,0,0,0.25);
    top: 20%;
    left:40%;
}

table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    border-radius: 5px;
}
th, td {
    width: 25%;
    text-align: center;
    padding-right: 2.5%;
    border: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    border-radius: 2px;
}
.amount{
    text-align: right;
}
.bussinesData{
    width:30%;
    padding-left: 7.5%;
    float: left;
    margin-left: 10%;
    margin-bottom: 2%;
}
th{
    background-color: lightblue;
    border:none;
}
.tdTop{
    border-top: none;
}