{% extends 'base.html.twig' %}


{% block body %}
    <div class="payment">
        <h3 style="text-align: center;">Recibo de pago</h3>
        <h5 style="text-align: right; margin-right: 2%; z-index: 10; margin-top: -2.5%">Número de recibo: {{ payment.id }}</h5>
        <div class="bussinesData">
            <p>Emisora: <b>Empresa de pruebas</b></p>
            <p>Email: <b>pruebaEmpresa@prueba.es</b></p>
            <p>Tlf: <b>123456789 / 600000000</b></p>
        </div>
        <div class="bussinesData">
            <p>Pagador: <b>{{ payment.clientName }} {{ payment.clientSurname }}</b></p>
            <p>Email cliente: <b>pruebaCliente@prueba.es</b></p>
            <p>Tlf. cliente: <b>123456789 / 600000000</b></p>
        </div>
        <div>
            {% set base =  payment.amount /1.21 %}
            {% set iva = payment.amount - base %}

            <table >
                <th>Conceptos</th>
                <th class="amount">Importe</th>
                <tr>
                    <td class="tdTop"><p>Gestión de la aplicación </p></td>
                    <td class="amount tdTop">{{ base  | number_format(2,',','.') }} €</td>
                </tr>
                <tr>
                    <td ><p>Iva (21%)  </p></td>
                    <td class="amount">{{ iva | number_format(2,',','.') }} €</td>
                </tr>
                <tr>
                    <td  colspan="2" class="amount"><b>Total {{ payment.amount | number_format(2,',','.')}} €</b></td>
                </tr>
            </table>

            <div style="margin: 2%; text-align: center">Recibo emitido el <b>{{ payment.payed_at | date('d') }}</b> del <b>{{ payment.payed_at | date('m') }}</b>
                de <b>{{ payment.payed_at | date('Y') }}</b>
            </div>
        </div>
        <div class="pagado">
            PAGADO
        </div>
    </div>

{% endblock %}